.bid-table {


    .el-table th {
        background: #3a8ee6 !important;
        color: #fff;
        font-size: 14px;
        padding: 2px;
        letter-spacing: 1px;
    }

    .el-table td {
        border: 0.5px solid #f4f4f5;
        padding: 2px !important;
        font-size: 13px !important;
    }
}