.defect-rule {
    padding: 24px;
    box-sizing: border-box;
    .el-table--border th {
        background: #66b1ff;
        color: #fff;
    }
    .el-tabs__content {
        padding-left: 40px;
    }
    .el-table__body td {
        font-size: 12px;
    }
    .el-tag {
        margin: 5px;
    }
    .plusIcon {
        margin-left: 15px;
    }
}
