.defect-info {
    .el-table--border th {
        background: #66b1ff;
        color: #fff;
    }
    .el-tabs__content {
        padding-left: 40px;
    }
    .el-table__body td {
        font-size: 12px;
    }
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
